
body {

}


#wrapper {
	border:10px solid #d5d9da;
	width:600px;
	height:500px;

}

#password_boxes {
	position:relative;
	border:5px solid #910CE8;
	width:400px;
	height:350px;
	margin-left:50px;
	margin-top:75px;
	padding-left:30px;
}

/*#password_form {
	margin-left:0px;	
}
#password_form label{
	margin-right:5px;
}
#password_form input {
	padding:5px 7px;
	border:1px solid #d5d9da;
	box-shadow: 0 0 5px #e8e9eb inset;
	width:250px;
	font-size:1em;
	outline:0;
}*/

#indicator{
	position:absolute;
	width:60px;
	height:17px;
	margin-left:165px;
	margin-top:-20px;
	font-size:10pt;
}


#password_form .noColor{
	/*display: none; DEBUG*/ 
}
#password_form .tooShort{
	color:red;
}

#password_form .weak{
	color:#E66C2C;
}

#password_form .good{
	color:#2D98F3;
}

#password_form .strong{
	color:#006400;
}

#password_form .veryStrong{
	color:#57DE35;
}



